
body{
    margin: 0;
}

.hero-title {
    display: flex;
    justify-content: center;
}

.bar-recherche{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-recherche input {
    width: 40vw;
    margin:10px;

}

.add-critere {
    display: flex;
    justify-content: center;
}

.new-critere {
    display: none;
    justify-content: center;
}