
body{
    margin: 0;
}

.bg-video {
    object-fit: cover;
    right: 0;
    bottom: 0;    
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 60%;
}

.vp1-container {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-title {
    display: flex;
    justify-content: center;
}

.hero-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
}

.bar-recherche{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-recherche input {
    width: 40vw;
    margin:10px;

}

.add-critere {
    display: flex;
    justify-content: center;
}

.form-rech {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-rech div {
    display: flex;
}

.form-rech div input {
    margin: 0;

    height: 40px;
    padding: 0;
    padding-left: 24px;
    border: 2px solid black;
    border-right: 0;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    font-family: 'Montserrat';
    font-size: 18px;
}


.form-rech div input::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.form-rech div button {
    margin: 0;
    border: none;
    background-color: black;
    border-left: 10px;
    border-color: black;
    width: 44px;
    height: 44px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
}

.form-rech div button i {
    color: white;
    font-size: 1.2em;
}


.form-rech label {
    margin-top: 20px;
    font-family: 'Roboto';
    align-self: center;
    font-weight: bold;
    color: black;
    font-style: italic;
}

.form-rech .add-critere2 {
    margin-top: 5px;
    width: 20px;
    align-self: center;
}

.input-critere2 {
    height: 40px;
    padding-left: 24px;
    border: 2px solid black;
    border-radius: 24px;
    align-self: center;
}

.input-critere2::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.article {
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.article h1 {
    font-family: 'Montserrat';
    position: relative;

}

.article h1::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    height: 2px;
    margin: auto;
    bottom: -20%;
    left: 5%;
}

.article span {
    font-family: 'Roboto';
    font-style: italic;
    align-self: center;
    width: 60%;
    text-align: center;
    
}

.article .first-span {
    margin-top: 10px;
    width: 60%;
}

.article p {
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    align-self: center;
    width: 60%;
    margin-top: 50px;
}

.article a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: 'Montserrat';
    align-self: center;
}

.article a:hover {
    color: cadetblue;
    transition: ease 1s;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.not-found h1 {
    font-family: 'Montserrat';
    width: 80%;
    text-align: center;
    align-self: center;

}
