{% extends 'base.html' %}

{% block content %}

    <div class="hero-title">
        <h1>Jeux-Vidéos</h1>
    </div>

    <div class="bar-recherche">
        <form id="form-recherche" method="POST">
            
            <input type="text" id="name" name="recherche-form" placeholder="Recherche" required>
            <button id="btn" type="submit"><i class="fas fa-search"></i></button>
            
        </form>
    </div>

    <div class="add-critere">
        <button id="btn-add-critere" onclick="addCritere()"><i class="fas fa-plus"></i></button>
    </div>

    <div id="new-critere" class="new-critere">
        <form id="form-recherche2" method="POST">
            <input type="text" id="name" name="recherche-form2" placeholder="Recherche" required>  
        </form>

        <button type="submit" onclick="sendForms()"><i class="fas fa-search"></i></button>
    </div>

    {% if titre %}
    <div>
        <ul>
            <li>{{ titre }}</li>
            <li>{{ soustitre }}</li>
            <li>{{ author }}</li>
            <li>{{ text|safe }}</li>
            <li><a href="{{ lien }}">Article Originale</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
