{% extends 'base.html' %}

{% block content %}

    <div class="bar-recherche">
        <label for="name">Recherche</label>
        <input type="text" id="name" name="name" required>
        <input type="button" value="Rechercher" method=POST>
    </div>
    <div>
        <ul>
            <li>{{ article['titre'] }}</li>
            <li>{{ article['soustitre'] }}</li>
            <li>{{ article['author'] }}</li>
            <li>{{ article['text'] }}</li>
            <li>{{ article['lien'] }}</li>
        </ul>
    </div>
{% endblock %}
