{% extends 'base.html' %}

{% block content %}

    <div class="bar-recherche">
        <form id="form-recherche" method="POST">
            <label for="name">Recherche</label>
            <input type="text" id="name" name="recherche-form" required>
            <input type="submit" value="Rechercher">
        </form>
    </div>
    {% if titre %}
    <div>
        <ul>
            <li>{{ titre }}</li>
            <li>{{ soustitre }}</li>
            <li>{{ author }}</li>
            <li>{{ text|safe }}</li>
            <li>{{ lien }}</li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
